<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROYECTOPOLINIZADOR.Properties.Settings.BdProcesosPolinizadoresConnectionString"
            connectionString="Data Source=serverprojectg1.database.windows.net;Initial Catalog=BdProcesosPolinizadores;User ID=Administrador;Password=UtnLiberia2022**"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>